<mat-toolbar>
  <button mat-button mat-raised-button color="primary" id="nav-button" (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
  <span class="flex-spacer"></span>
  <div class="language-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeLang('en')">
        <span>English</span>
      </button>
      <button mat-menu-item (click)="changeLang('ko')">
        <span>한국어</span>
      </button>
      <button mat-menu-item (click)="changeLang('cn')">
        <span>中文</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
