<md-card class="nj-card">
  <md-card-header class="nj-card-header">
    <md-card-title class="nj-card-title">
      <span class="nj-card-title-text">{{'CONTACTS.CONTACTS' | translate}}</span>
    </md-card-title>
    <md-card-subtitle>{{'CONTACTS.ADD_CONTACTS_DESCRIPTION' | translate}}</md-card-subtitle>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content class="nj-card-content">
    <md-list dense class="nj-card-list check-in-card-list">
      <h3 md-subheader class="nj-card-list-sub-header">{{'CONTACTS.PHONE_WHATS_APP' | translate}}</h3>
      <md-list-item class="nj-card-list-item">
        <md-icon md-list-icon svgIcon="whats_app" class="nj-card-list-item-icon"></md-icon>
        <p md-line class="nj-card-list-item-text">0971404828</p>
      </md-list-item>
    </md-list>
    <md-list dense class="nj-card-list check-in-card-list">
      <h3 md-subheader class="nj-card-list-sub-header">{{'CONTACTS.LINE_KAKAO_WECHAT' | translate}}</h3>
      <md-list-item class="nj-card-list-item">
        <md-icon md-list-icon svgIcon="line" class="nj-card-list-item-icon"></md-icon>
        <md-icon md-list-icon svgIcon="kakao" class="nj-card-list-item-icon"></md-icon>
        <md-icon md-list-icon svgIcon="wechat" class="nj-card-list-item-icon"></md-icon>
        <p md-line class="nj-card-list-item-text">KKTKKT2</p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
