<mat-list class="side-nav-list">
  <mat-list-item class="side-nav-list-item">
    <a routerLink="/" (click)="sidenav.toggle()">{{'SIDE_NAV.HOUSES' | translate}}</a>
  </mat-list-item>
  <mat-list-item class="side-nav-list-item">
    <a routerLink="/contacts" (click)="sidenav.toggle()">{{'SIDE_NAV.CONTACTS' | translate}}</a>
  </mat-list-item>
  <mat-list-item class="side-nav-list-item">
    <a routerLink="/services" (click)="sidenav.toggle()">{{'SIDE_NAV.SERVICES' | translate}}</a>
  </mat-list-item>
</mat-list>
