:host {
  display: block;
  padding: 1rem;
  a:link, a:visited {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  .listing-card {
    .listing-header {
      .listing-header-image {
        background-image: url('https://a2.muscache.com/im/pictures/186ff6e1-3227-4792-bc6e-591932235263.jpg?aki_policy=profile_small');
      }
    }
    @media (max-width: 600px) {
      .listing-header {
        margin: -8px 0 16px;
      }
    }
    .listing-content {
      .listing-content-image {
        img {
          width: 100%;
        }
      }
    }
  }
}
