<mat-card class="listing-card nj-card">
  <a routerLink="./info/nj_{{ index }}">
    <mat-card-header class="listing-header">
      <mat-card-title>N&J #{{ index }}</mat-card-title>
      <mat-card-subtitle>{{ listing.bedrooms }} {{'LISTING.BED_ROOMS' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="listing-content">
      <div class="listing-content-image">
        <img src="{{ listing.photos.large_url[0] }}" style="" alt=""/>
      </div>
      <div class="listing-content-desc">
        <h4>{{ listing.name }}</h4>
      </div>
    </mat-card-content>
  </a>
</mat-card>
