$nav-button-color: #00838F;

/* fonts */
$font-smaller-size: 0.6rem;
$font-small-size: 0.8rem;
$font-normal-size: 1rem;
$font-large-size: 1.2rem;
$font-larger-size: 1.5rem;
$font-largest-size: 1.8rem;


