<nj-header [sidenav]="sidenav"></nj-header>
<md-sidenav-container class="side-nav-container">
  <md-sidenav class="side-nav" #sidenav mode="over">
    <!-- sidenav content -->
    <nj-side-nav></nj-side-nav>
  </md-sidenav>
  <!-- primary content -->
  <md-grid-list cols="12">
    <md-grid-tile
      [colspan]="12"
      [rowspan]="12">

      <main>
        <router-outlet></router-outlet>
      </main>

      <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
      <footer></footer>
    </md-grid-tile>
  </md-grid-list>
</md-sidenav-container>
