<nav mat-tab-nav-bar>
  <a mat-tab-link
     class="mat-tab-link {{rla1.isActive?'activeLink':''}}"
     [routerLink]=" ['./checkin'] "
     routerLinkActive #rla1="routerLinkActive"
     [active]="rla1.isActive">
    {{ 'LISTING_INFO.CHECK_IN_N_OUT' | translate}}
  </a>
  <a mat-tab-link
     [routerLink]=" ['./location'] "
     routerLinkActive #rla2="routerLinkActive"
     [active]="rla2.isActive">
    {{ 'LISTING_INFO.LOCATION' | translate}}
  </a>
  <a mat-tab-link
     [routerLink]=" ['./rules'] "
     routerLinkActive #rla3="routerLinkActive"
     [active]="rla3.isActive">
    <span>{{'LISTING_INFO.RULES' | translate}}</span>
    <sup>
      <mat-icon>priority_high</mat-icon>
    </sup>
  </a>
  <a mat-tab-link
     [routerLink]=" ['./facilities'] "
     routerLinkActive #rla4="routerLinkActive"
     [active]="rla4.isActive">
    {{'LISTING_INFO.FACILITIES' | translate}}
  </a>
</nav>

<router-outlet></router-outlet>
