nav[mat-tab-nav-bar] {
  [mat-tab-link] {
    padding: 0.5rem;
  }
  sup {
    color: red;
    right: 0.5em;
    mat-icon {
      width: 1.3rem;
      height: 1.3rem;
      font-size: 1.3rem;
    }
  }
  .activeLink {
    background-color: rgba(197, 202, 233, .3);
    outline: 0;
    opacity: 1;
    color: rgba(0, 0, 0, .87);
  }
}

.youtube-card {
  margin-top: 1em;
  .youtube-box {
    height: 56.25vw;
  }
}

.gmap-card {
  margin-top: 1em;

  iframe {
    height: 100%;
    min-height: 300px;
  }
}
