<md-card class="nj-card">
  <md-card-header class="nj-card-header">
    <md-card-title class="nj-card-title">
      <md-icon class="nj-card-title-icon">local_airport</md-icon>
      <span class="nj-card-title-text">{{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE' | translate}}</span>
    </md-card-title>
  </md-card-header>
  <md-card-content class="nj-card-content">
    <div class="description-box">
      <p>
        {{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_DESCRIPTION' | translate}}
      </p>
    </div>
  </md-card-content>
</md-card>
<md-card class="nj-card">
  <md-card-header class="nj-card-header">
    <md-card-title class="nj-card-title">
      <md-icon class="nj-card-title-icon">directions_car</md-icon>
      <span class="nj-card-title-text">{{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_VEHICLE_LIST' | translate}}</span>
    </md-card-title>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-content class="nj-card-content">
    <md-list>
      <md-tab-group>
        <md-tab label="{{vehicle.name[translate.getCurrentLang()]}}"
                *ngFor="let vehicle of pickupInfo.vehicles; let i = index">
          <md-list dense class="nj-card-list">
            <md-card class="example-card">
              <!--<md-card-header>
                <md-card-title>{{vehicle.name[translate.getCurrentLang()]}}</md-card-title>
                <md-card-subtitle></md-card-subtitle>
              </md-card-header>-->
              <img md-card-image src="assets/img/{{vehicle.img}}">
              <md-card-content>
                <md-list>
                  <md-list-item class="nj-card-list-item">
                    <md-icon md-list-icon class="nj-card-list-item-icon">people</md-icon>
                    <h4 md-line class="nj-card-list-item-heading">{{'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_CAPACITY'
                      | translate}}</h4>
                    <p md-line class="nj-card-list-item-text"> {{vehicle.capacity}}
                      {{'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_PEOPLE' |
                      translate}} </p>
                  </md-list-item>
                  <md-list-item class="nj-card-list-item">
                    <md-icon md-list-icon class="nj-card-list-item-icon">payment</md-icon>
                    <h4 md-line class="nj-card-list-item-heading">{{'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_PRICE' |
                      translate}}</h4>
                    <p md-line class="nj-card-list-item-text"> {{vehicle.price | number}} {{ 'COMMON.BAHT' |
                      translate}}</p>
                  </md-list-item>
                </md-list>
              </md-card-content>
              <md-card-actions>
                <!--<button md-raised-button color="primary" (click)="openDialog(vehicle)">{{'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_BOOK'
                  | translate}}</button>-->
              </md-card-actions>
            </md-card>
          </md-list>
        </md-tab>
      </md-tab-group>
    </md-list>
  </md-card-content>
</md-card>
<md-card class="nj-card">
  <md-card-header class="nj-card-header">
    <md-card-title class="nj-card-title">
      <md-icon class="nj-card-title-icon">place</md-icon>
      <span class="nj-card-title-text">{{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_PICKUP_SPOT' | translate}}</span>
    </md-card-title>
  </md-card-header>
  <md-card-content class="nj-card-content">
    <p>
      {{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_PICKUP_SPOT_INFO' | translate}}
    </p>
    <md-card class="nj-card">
      <md-card-header class="nj-card-header">
        <md-card-title class="nj-card-title">
          <md-icon class="nj-card-title-icon">warning</md-icon>
          <span class="nj-card-title-text">{{ 'COMMON.ATTENTION' | translate | uppercase}}</span>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <p class="warn-box">{{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_PICKUP_SPOT_WARN' | translate}}</p>
      </md-card-content>
    </md-card>
    <md-card class="nj-card">
      <md-card-header class="nj-card-header">
        <md-card-title class="nj-card-title">
          <span
            class="nj-card-title-text">{{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_SUVARNABHUMI' | translate}}</span>
        </md-card-title>
        <md-card-subtitle>
          {{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_SUVARNABHUMI_INFO' | translate}}
        </md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/img/pickup_suvan_airport.jpg">
    </md-card>
    <md-card class="nj-card">
      <md-card-header class="nj-card-header">
        <md-card-title class="nj-card-title">
          <span class="nj-card-title-text">{{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_DONMUEANG' | translate}}</span>
        </md-card-title>
        <md-card-subtitle>
          {{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_DONMUEANG_INFO' | translate}}
        </md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/img/pickup_dmk_airport.jpg">
    </md-card>
    <md-card class="nj-card">
      <md-card-header class="nj-card-header">
        <md-card-title class="nj-card-title">
          <span class="nj-card-title-text">{{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_HOUSE' | translate}}</span>
        </md-card-title>
        <md-card-subtitle>
          {{ 'SERVICES.TRANSPORTATION_AIRPORT_SHUTTLE_HOUSE_INFO' | translate}}
        </md-card-subtitle>
      </md-card-header>
    </md-card>
  </md-card-content>
</md-card>
