<mat-card class="nj-card">
  <mat-card-header class="nj-card-header">
    <mat-card-title class="nj-card-title">
      <mat-icon class="nj-card-title-icon">local_airport</mat-icon>
      <span class="nj-card-title-text">{{ 'SERVICES.SHUTTLE' | translate}}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="nj-card-content">
    <div class="description-box">
      <p>
        {{ 'SERVICES.SHUTTLE_DESCRIPTION' | translate}}
      </p>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="nj-card">
  <mat-card-header class="nj-card-header">
    <mat-card-title class="nj-card-title">
      <mat-icon class="nj-card-title-icon">directions_car</mat-icon>
      <span class="nj-card-title-text">{{ 'SERVICES.SHUTTLE_VEHICLE_LIST' | translate}}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="nj-card-content">
    <mat-list>
      <mat-tab-group>
        <mat-tab label="{{vehicle.name[translate.getCurrentLang()]}}"
                *ngFor="let vehicle of pickupInfo.vehicles; let i = index">
          <mat-list dense class="nj-card-list">
            <mat-card class="example-card">
              <!--<mat-card-header>
                <mat-card-title>{{vehicle.name[translate.getCurrentLang()]}}</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>-->
              <img mat-card-image src="assets/img/{{vehicle.img}}">
              <mat-card-content>
                <mat-list>
                  <mat-list-item class="nj-card-list-item">
                    <mat-icon mat-list-icon class="nj-card-list-item-icon">people</mat-icon>
                    <h4 matLine class="nj-card-list-item-heading">{{'SERVICES.SHUTTLE_CAPACITY'
                      | translate}}</h4>
                    <p matLine class="nj-card-list-item-text"> {{vehicle.capacity}}
                      {{'SERVICES.SHUTTLE_PEOPLE' |
                      translate}} </p>
                  </mat-list-item>
                  <mat-list-item class="nj-card-list-item">
                    <mat-icon mat-list-icon class="nj-card-list-item-icon">payment</mat-icon>
                    <h4 matLine class="nj-card-list-item-heading">{{'SERVICES.SHUTTLE_PRICE' |
                      translate}}</h4>
                    <p matLine class="nj-card-list-item-text"> {{vehicle.price | number}} {{ 'COMMON.BAHT' |
                      translate}}</p>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openDialog(vehicle)">{{'SERVICES.SHUTTLE_BOOK'
                  | translate}}</button>
              </mat-card-actions>
            </mat-card>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card class="nj-card">
  <mat-card-header class="nj-card-header">
    <mat-card-title class="nj-card-title">
      <mat-icon class="nj-card-title-icon">place</mat-icon>
      <span class="nj-card-title-text">{{ 'SERVICES.SHUTTLE_PICKUP_SPOT' | translate}}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="nj-card-content">
    <p>
      {{ 'SERVICES.SHUTTLE_PICKUP_SPOT_INFO' | translate}}
    </p>
    <mat-card class="nj-card">
      <mat-card-header class="nj-card-header">
        <mat-card-title class="nj-card-title">
          <mat-icon class="nj-card-title-icon">warning</mat-icon>
          <span class="nj-card-title-text">{{ 'COMMON.ATTENTION' | translate | uppercase}}</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="warn-box">{{ 'SERVICES.SHUTTLE_PICKUP_SPOT_WARN' | translate}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="nj-card">
      <mat-card-header class="nj-card-header">
        <mat-card-title class="nj-card-title">
          <span
            class="nj-card-title-text">{{ 'SERVICES.SHUTTLE_SUVARNABHUMI' | translate}}</span>
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'SERVICES.SHUTTLE_SUVARNABHUMI_INFO' | translate}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/pickup_suvan_airport.jpg">
    </mat-card>
    <mat-card class="nj-card">
      <mat-card-header class="nj-card-header">
        <mat-card-title class="nj-card-title">
          <span class="nj-card-title-text">{{ 'SERVICES.SHUTTLE_DONMUEANG' | translate}}</span>
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'SERVICES.SHUTTLE_DONMUEANG_INFO' | translate}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/pickup_dmk_airport.jpg">
    </mat-card>
    <mat-card class="nj-card">
      <mat-card-header class="nj-card-header">
        <mat-card-title class="nj-card-title">
          <span class="nj-card-title-text">{{ 'SERVICES.SHUTTLE_HOUSE' | translate}}</span>
        </mat-card-title>
        <mat-card-subtitle>
          {{ 'SERVICES.SHUTTLE_HOUSE_INFO' | translate}}
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-card-content>
</mat-card>
